* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: white;
}

img {
  width: 100%;
}

main {
  margin: 60px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
}

.container-fluid {
  display: none;
}

@media (max-width: 1400px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1050px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  #searchContainer {
    display: none !important;
  }
  .container-fluid {
    display: flex;
  }
}

#logo {
  padding: 0.75rem;
}

#logo i {
  font-size: 1.5rem;
}

#logo a {
  font-size: 1.5rem;
}

.card-movie {
  max-width: 100%;
  height: auto;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.164);
}

.card-movie img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 1rem 1rem;
  max-width: 100%;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

.date {
  color: grey;
  font-weight: bold;
}

.rate {
  display: flex;
  max-width: 100%;
  justify-content: end;
  align-items: center;
  color: white;
  margin-top: 1rem;
}

.rate span {
  border-radius: 5px;
  padding: 0 6px;
}

.messageError {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

footer button {
  border: none;
  padding: 10px;
  border-radius: 5px;
}*/
