* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
}

img {
  width: 100%;
}

main {
  margin: 60px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  gap: 30px;
}

.container-message-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-message-error i {
  font-size: 32px;
}

#btnCloseModal:hover {
  background-color: black;
  color: white;
}

#searchContainer {
  display: flex;
}

.containerToSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}

@media (max-width: 1400px) {
  main {
    display: grid;
    grid-template-columns: 25% 25% 25%;
  }
}

@media (max-width: 1050px) {
  main {
    display: grid;
    grid-template-columns: 35% 35%;
    margin: 80px 30px;
    padding: 25px 0;
  }
}

@media (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 75%;
    margin: 80px 30px;
    padding: 25px 0;
  }
  #btnMenu {
    display: flex !important;
  }
  #searchContainer {
    display: none;
    height: 100px;
  }
  .active {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 0;
  }
}

#btnMenu {
  display: none;
}

#prevPage:disabled {
  opacity: 50%;
  transition: all 0.2s;
}

#prevPage:enabled {
  opacity: 100%;
  transition: all 0.2s;
}

#prevPage:hover,
#nextPage:hover {
  background-color: rgb(0, 131, 192);
  transition: 0.2s ease-in-out;
}

.row > * {
  width: auto;
}

#logo {
  padding: 0.75rem;
}

#logo i {
  font-size: 1.5rem;
}

#logo a {
  font-size: 1.5rem;
  text-decoration: none;
}

.card-movie {
  max-width: 100%;
  height: auto;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.164);
  transition: 0.2s;
}

.card-movie:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.2s;
}

.card-movie img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 1rem 1rem;
  max-width: 100%;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

.date {
  color: grey;
  font-weight: bold;
}

.rate {
  display: flex;
  max-width: 100%;
  justify-content: end;
  align-items: center;
  color: white;
  margin-top: 1rem;
  font-weight: bold;
}

.rate span {
  border-radius: 5px;
  padding: 0 6px;
}

.messageError {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: #212529;
  color: white;
}
